{% extends 'base.html'%}
{% block title %}cWork{% endblock %}

{% block main-content %} 
  <div class="container">
      <div class="row ">
          <div class="col-md-5">
              <h2 class="text-center  mt-3 p-2 bg-info radius">Add Information</h2>
             

               <!--Message-->
                
                {%if messages%}
                 {%for message in messages%}
                 <div  {%if message.tags%} class="alert alert-{{message.tags}}{%endif%}" role="alert"  >
                  {{message}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                 {%endfor%}
                {%endif%}
                

               <!--form-->
              <form action="" method="POST"  enctype='multipart/form-data' >
                {%csrf_token%}
                 
                   {% for fm in form %}
                        <div class="form-group"> 
                            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
                        </div>
                   {% endfor %}
                
                <input type="submit" class="btn btn-primary form-control " value="Submit">

                        {% if form.non_field_errors %}
                            {% for errors in form.non_field_errors %}
                                <p class="alert alert-danger"> {{ errors}}</p>
                            {%endfor%}
                        {%endif%}
             </form>
          </div>


          <div class="col-md-6 offset-1" >
            <h2 class="text-center  mt-3 p-2 bg-info radius">View Information</h2>
             
          
                     
                   
                    {% for blog in blog_info%}
         

                    <div class="card center" style="width: 20rem;">
                        <img class="card-img-top" src="media//{{blog.profile_pic}}" alt="Card image cap">
                         
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Name: &ensp; {{blog.name}}</li>
                          <li class="list-group-item">E-mail: &ensp;{{blog.email}}</li>
                           
                        </ul>
                        
                      </div>
                    <hr>
                    {%endfor%}
                 
            
          </div>
      </div>
  </div>
{% endblock main-content %}